doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  title Email Verfied
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
table(border='0' cellpadding='0' cellspacing='0' width='100%')
  tr
    td(style='padding: 10px 0 30px 0;')
      table(align='center' border='0' cellpadding='0' cellspacing='0' width='750' style='border: 1px solid #cccccc; border-collapse: collapse;')
        tr
          td(align='left' bgcolor='#ffffff' style='border-bottom:1px solid #eeeeee;   color: #153643; font-size: 28px; font-weight: bold; font-family:sans-serif; padding: 0px 125px 0px 78px;' height='66')
            img(src='https://test.supersourcing.com/staticBase/template/logo.png' width='182' height='34' style='display: block; object-fit: cover;' alt='logo')
        tr
          td(bgcolor='#ffffff' style="padding: 0px 125px 0px 80px; background-image: url('https://test.supersourcing.com/staticBase/template/main-bg.png'); background-repeat: no-repeat; background-size: cover; background-position: left; object-fit: cover;")
            table(border='0' cellpadding='0' cellspacing='0' width='100%')
              tr
                td
                  p(style='margin: 50px 0px 15px 0px; color: #354052; font-family:sans-serif; font-size: 16px; line-height: 20px; font-weight: 600; text-align: center;') Welcome to the Supersourcing family
              tr
                td
                  p(style='padding:20px 0px 0px 0px; color: #354052; font-family:sans-serif; font-size: 16px; line-height: 20px; font-weight: 400; margin: 0px; text-align: center;')
                    | Congratulations #{name}! You&apos;re signed in and ready to start exploring the world of supersourcing.
              tr
                td
                  p(style='padding:10px 0px 0px; color: #354052; font-family:sans-serif; font-size: 16px; line-height: 20px; font-weight: 400; margin: 0px; text-align: center;') Get the most out of Supersourcing by completing your profile.
              tr
                td
                  p(style='padding:40px 0px 0px; color: #354052; font-family:sans-serif; font-size: 16px; line-height: 20px; font-weight: 400; margin: 0px; text-align: center;') Hit the button below:
              tr
                td
                  .btn-outer(style='padding:25px 0; margin-bottom: 0px; ')
                    a(href=`${link}` target='_blank' style='max-height: 48px; background-color: #0096e3; max-width: 100%; text-align: center;width: 255px; border-radius: 5px; padding: 10px 0; border: 2px solid #0096e3; font-size: 18px; text-transform: uppercase; font-weight: 500; color:#ffffff; cursor:pointer; outline:none; display: block; text-decoration: none; font-family:sans-serif; margin: 0 auto; ')
                      | SUBMIT AGENCY DETAILS
              tr
                td
                  p(style='padding:5px 0px 5px 0px; color: #354052; font-family:sans-serif; font-size: 16px; line-height: 20px; font-weight: 400; margin: 0; text-align: center;')
                    | Establish credibility by adding your previous projects and get feedback from satisfied customers. When your profile is all set up, we start automatically matching you with clients based on your preferences
              tr
                td
                  p(style='padding:5px 0px 15px 0px; color: #354052; font-family:sans-serif; font-size: 16px; line-height: 20px;  margin: 0;')
                    span(style='margin-bottom: 7px; display: inline-block; ')  Need help? 
                    |  Ask at 
                    a(href='mailto:hey@supersourcing.com' style='color:#2daeec;text-decoration: underline;padding-right: 5px; margin-top: 10px; font-weight: 600;') hey@supersourcing.com
              tr
                td(style='padding:5px 0px 25px 0')
                  p(style='font-size: 16px; padding: 3px 0px 0px 0px;  font-family:sans-serif; color: #000000; font-weight: 400; margin: 0px 0px 10px 0px') Thanks &amp; Regards,
                  p(style='font-size: 16px;  padding: 3px 0px 0px 0px; font-family:sans-serif; color: #000000; font-weight: 400; margin: 0px 0px 10px 0px') Team Supersourcing
        tr
          td(style="background-image: url('https://test.supersourcing.com/staticBase/template/foot-bg.jpg');\
          height:98px;background-size:contain;padding:0px 75px 0px; background-repeat: no-repeat;")
            table(border='0' cellpadding='0' cellspacing='0' width='100%')
              tr
                td(style='color: #ffffff; font-family:sans-serif; font-size: 14px;' width='35%')
                  ul(style='text-align: left;padding:0;')
                    li(style='display:inline-block;margin-right:16px;vertical-align: top;')
                      a(href='https://twitter.com/supersrcing' target='_blank')
                        img(src='https://test.supersourcing.com/staticBase/template/twitter.png' alt='Twitter' width='33' height='33' style='object-fit: cover; border-radius:50%')
                    li(style='display:inline-block;margin-right:16px;vertical-align: top;')
                      a(href='https://www.facebook.com/supersrcing' target='_blank')
                        img(src='https://test.supersourcing.com/staticBase/template/fb.png' alt='Facebook' width='33' height='33' style='object-fit: cover; border-radius:50%')
                    li(style='display:inline-block;margin-right:16px;vertical-align: top;')
                      a(href='https://www.linkedin.com/company/26617736/' target='_blank')
                        img(src='https://test.supersourcing.com/staticBase/template/linkdin.png' alt='Linkdin' width='33' height='33' style='object-fit: cover; border-radius:50%')
                td(align='right' width='65%')
                  div(style='text-align: center; max-width: 400px;margin:0 auto;')
                    ul(style='text-align: center;margin:0;')
                      li(style='display: inline-block;vertical-align: top; border-right:1px solid #ffffff; font-weight: 600;font-size: 14px;')
                        a(href='mailto:hey@supersourcing.com' style='color:#ffffff;text-decoration: none;padding-right: 5px;') hey@supersourcing.com
                      li(style='display: inline-block;vertical-align: top;')
                        a(href='tel:+91-8225007007' style='color:#ffffff;text-decoration: none; font-weight: 600;font-size: 14px;') +91-1234567890
                    p(style='color:#ffffff;font-weight: 100;font-size: 12px; margin-left: 42px; margin-bottom: 5px; margin-top: 3px;')
                      | Copyright &copy; 2020-21 
                      b(style='font-weight: 100;') Supersourcing.
                      |  All Rights Reserved.
