div(style='width: 680px;margin: 0 auto;')
  div(style='background:#504482;height: 80px;')
    h3(style='color: #fff;font-size: 36px;font-weight: normal;padding: 18px 0 0 70px;margin: 0;')  Welcome User! 
  div(style='background: #fff;padding:23px 70px 20px 70px;')
    h4(style='font-size: 24px; color: #504482; margin: 20px 0 30px;')
      | Hello #{name}
    div(style='color: #8b8382; font-size: 15px;')
      | Please do not share this OTP with anyone for security reasons. Your OTP is 
      strong  #{otp} 
      | .
      p(style="margin: 5px 0 0;font-family:'Mulish';color: #000000;font-weight: 500;font-size: 18px;line-height: 22px;")
        a(href='https://premium.supersourcing.com/auth/login' target='_blank' style="font-family:'Mulish';color: #0062FF;text-decoration: none;") https://premium.supersourcing.com/auth/login
  div(style='height: 52px;background:#dfdfdf;')
